:root {
    --white: #fff;
    --black: #000;
    --accent: #2476FF;
    --base-font-color: #677788;
    --base-cursor: pointer;
    --base-margin: 0;
    --base-padding: 0;
    --base-box-sizing: border-box;
}

*,
::before,
::after {
    margin: var(--base-margin);
    padding: var(--base-padding);  
    color: var(--base-font-color);
    box-sizing: var(--base-box-sizing);
}

html {
    scroll-behavior: smooth;
}

