@media (max-width: 1023px) {
    .container {
        max-width: 768px;
    }

    .header {
        display: none;
    }

    .header-with-bars {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        height: 86px;
    }

    .fa-bars {
        display: block;
    }

    .fa-bars::before {
        font-size: larger;
        cursor: pointer;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-section {
        text-align: center;
        align-items: center;
    }

    .left-part {
        align-items: center;
        justify-content: center;
    }

    .action-section {
        align-items: center;
        justify-content: center;
    }

    .right-part {
        width: 712px;
        height: 309px;
    }
    
    .asana {
        left: 533px;
        top: 0px;
    }
    
    .calendar {
        left: 517px;
        top: 229px;
    }
    
    .weave {
        left: 414px;
        top: 99px;
    }
    
    .paypal {
        left: 112px;
        top: 99px;
    }
    
    .atlassian {
        left: 287px;
        top: 0px;
    }
    
    .google-ads {
        left: 230px;
        top: 209px;
    }
    
    .google {
        left: 110px;
        top: 0px;
    }

    .benefit-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .benefit-item {
        width: 21.188rem;
    }

    .banner-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 44.25rem;
        margin: auto;
    }

    .banner-content-left {
        align-items: center;
        width: auto;
        padding: 27px 30px;
    }

    .banner-content-right {
        width: 44.25rem;
    }

    .banner-content-right img {
        object-fit: cover;
    }

    .banner-2 {
        text-align: center;
    }

    .banner-2 img {
        height: 304px;
        width: 708px;
    }

    .banner-frame {
        width: 708px;
        margin: auto;
    }

    .play-button {
        left: 319px;
        top: 125px;
    }

    .hubspot-section {
        flex-direction: column;
        align-items: center;
    }

    .hubspot-left {
        height: 480px;
        width: 560px;
    }

    .hubspot-right, .hubspot-right-description {
        align-items: center;
        text-align: center;
        justify-content: flex-start;
    }

    .hubspot-right {
        height: 252.18px;
    }

    .hubspot-section {
        height: 880px;
    }

    .hubspot-right-person {
        padding: 0;
    }

    .plan {
        width: 42.5rem;
    }

    .plans-features-list {
        flex-direction: column;
        align-items: center;
    }

    .plan-header, .plan-footer {
        align-items: center;
    }

    .plan-divider {
        width: 530px;
    }

    .plan-feature-item {
        width: 335px;
    }

    .hire-us-section {
        flex-direction: column;
        max-width: 100%;
    }

    .hire-us-left {
        flex-direction: row;
        justify-content: flex-start;
    }

    .hire-us-title-description {
        width: auto;
    }

    .hire-us-title-divider {
        width: 396px;
    }

    .hire-us-left-bottom {
        justify-content: center;
        gap: 30px;
    }

    .form-group {
        width: 100%;
    }

    .hire-us-form {
        align-items: stretch;
    }

    .btn[type="submit"] {
        align-self: center;
    }

    .bullets-list {
        width: 708px;
        justify-content: center;
    }

    .bullet {
        width: 175px;
    }

    .social { 
        width: 708px;
        gap: 0;
    }

    .footer-section-1 {
        width: 650px;
        justify-content: flex-start;
        gap: 80px;
    }

    .footer-section-1-sub-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 40px;
        max-width: 417px;
    }

    .footer-divider  {
        width: 708px;
    }

    .background-white {
        width: 50.5px;
    }

    .benefit-list {
        width: 708px;
    }
}

@media (max-width: 767px) {
    .title {
        width: 400px;
    }
    
    .left-part {
        width: 328px;
        height: 235px;
        padding: 0px 0px 60px;
    }

    .right-part {
        width: 328px;
        height: 309px;
    }

    .asana {
        left: 248px;
        top: 0px;
    }
    
    .calendar {
        left: 239px;
        top: 219px;
    }
    
    .weave {
        left: 184px;
        top: 99px;
    }
    
    .paypal {
        left: 0px;
        top: 99px;
    }
    
    .atlassian {
        left: 114px;
        top: 0px;
    }
    
    .google-ads {
        left: 106px;
        top: 209px;
    }
    
    .google {
        left: 0px;
        top: 0px;
    }

    .key-benefits {
        padding: 0;
        padding-top: 30px;
    }

    .benefit-list {
        display: flex;
        flex-direction: column;
    }

    .benefit-item {
        width: 328px;
    }

    .benefits-title-description {
        width: 300px;
        text-align: center;
    }

    .banner-section {
        padding: 30px;
    }

    .banner-section-content {
        width: 328px;
        height: 470px;
        gap: 10px;
    }

    .banner-content-left {
        width: 325px;
        text-align: center;
    }

    .banner-content-right {
        width: 328px;
    }

    .banner-content-right img {
        height: 100%;
    }

    .why-front-section {
        width: 360px;
        height: 488px;
    }

    .why-front-title-description {
        width: 328px;
        height: 96px;
    }

    .bullets-list {
        flex-direction: column;
        width: 360px;
        height: 251px;
        align-items: flex-start;
        gap: 0;
    }

    .bullet {
        flex-direction: row;
        padding: 0;
        width: auto;
    }

    .left-wing {
        display: none;
    }

    .banner-2 img, .banner-frame {
        width: 358px;
        height: 154px;
    }

    .play-button {
        left: 144px;
        top: 42px;
    }

    .download-1 img {
        width: 141px;
        height: 261px;
    }

    .download-2 img {
        width: 262px;
        height: 300px;
    }

    .download-2 {
        text-align: center;
    }

    .hubspot-section {
        height: 750px;
    }

    .hubspot-left {
        width: 360px;
        height: 382px;
    }

    .hubspot-right-description-text {
        width: 328px;
    }

    .brands-section {
        height: auto;
    }

    .brands-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .pricing-section {
        padding-bottom: 30px;
    }

    .plan-divider {
        width: 248px;
    }

    .row-1, .row-2 {
        display: flex;
    }

    .hire-us-left-top, .hire-us-left-bottom {
        text-align: center;
        align-items: center;
    }

    .hire-us-title-divider {
        width: 330px;
    }

    .hire-us-left, .footer-section-1 {
        align-items: center;
    }

    .form-group, .social, .hire-us-left, .footer-section-1, .row-1, .row-2 {
        flex-direction: column;
    }

    .form-group.privacy {
        flex-direction: row;
    }

    .footer-section-1 {
        gap: 40px;
    }

    .footer-section-1-sub-1, .footer-section-1-sub-2 {
        text-align: center;
    }

    .footer-phone, .career, .sub-help, .sub-account {
        justify-content: center;
    }

    .footer-section-1-sub-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-divider, .all-rights-text, .footer-section-1, .footer-section-3, .plan, .benefit-list {
        width: 328px;
    }

    .social {
        gap: 30px;
    }

    .all-rights {
        width: auto;
    }

    .why-front-title-section {
        width: 100%;
    }

    .social {
        width: 100%;
    }

    .hubspot-right {
        width: 360px;
    }

    .social-us {
        flex-direction: column;
    }

    .circle-right-wing {
        flex-direction: column;
    }

    .bullet-top {
        flex-direction: column;
    }

    .left-wing, .right-wing {
        width: 1px;
        height: 5px;  
    }

    .left-wing {
        display: inline-block;
    }

    .modal-nav-button .nav-list {
        flex-direction: column;
    }
}