*,
::before,
::after {
    margin: 0;
    padding: 0;  
    color: #677788;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.top-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 470px;
    left: 0px;
    top: 0px;   
    background: linear-gradient(312.73deg, rgba(217, 217, 217, 0.44) 17.61%, rgba(217, 217, 217, 0) 55.85%);
    transform: skewY(-15deg);
    z-index: -10;
}

.accent {
    color: #2476FF;
    cursor: pointer;
}

.fa-bars-container {
    margin-right: 50px;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.logo {
    width: 154.9px;
    height: 46.1px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 86px;
}

.header-with-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 86px;
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    list-style: none;
}

.nav-list li:hover {
    color: #2476FF;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 30px;
    background-color: #2476FF;
    padding: 15px 25px;
    cursor: pointer;
}

.btn-text, .fa-circle-play::before, .fa-caret-right::before {
    color: white;
}

.fa-circle-play::before {
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
}

.status {
    border: none;
    border-radius: 15px;
    background-color: #01C9A7;
    color: white;
    padding: 4px 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.hero {
    padding: 40px 30px 0px;
    display: flex;
    gap: 10px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 60px;
    gap: 30px;
    width: 477px;
    height: 406px;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.title {
    font-size: 40px;
    color: black;
    width: 300px;
}

.action-section {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 477px;
    height: 48px;
}

.learn-more {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.learn-more-text {
    color: #2476FF;
    font-weight: 700;
}

.learn-more i::before {
    color: #2476FF;
}

.right-part {
    position: relative;
    width: 477px;
    height: 406px;
}

.asana {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 380px;
    top: 10px;   
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asana img, .calendar img, .weave img,  .paypal img, .atlassian img {
    width: 48px;
    height: 48px;
}

.google-ads img, .google img {
    width: 40px;
    height: 40px;
}

.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 364px;
    top: 310px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.weave {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 262px;
    top: 172px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.paypal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 44px;
    top: 172px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.atlassian {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 175px;
    top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.google-ads {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 155px;
    top: 290px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 64px;
    top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.key-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px 80px;
    gap: 60px;
}

.benefits-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.benefits-title {
    color: black;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
}

.benefits-title-description {
    font-weight: 500;
    line-height: 24px;
}

.benefit-list {
    display: flex;
    padding: 10px 30px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.benefit-item {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    gap: 20px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 20px;
}

.item-content img {
    width: 50px;
    height: 50px;
}

.item-title {
    color: black;
    font-weight: 700;
    line-height: 19px;
}

.premium-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-section {
    padding: 0px 30px 80px;
}

.banner-section-content {
    display: flex;
    background: #F8FAFE;
    height: 29.375rem;
    gap: 10px;
}

.banner-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 30px;
    gap: 26px;
    width: 28.125rem;
}

.banner-left-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: black;
}

.banner-content-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}

.banner-content-right img {
    height: 22.063rem;
    width: 100%;
}

.why-front-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 80px;
    gap: 40px;
    height: 354px;
}

.why-front-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 600px;
}

.why-front-title {
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.why-front-title-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bullets-list {
    display: flex;
    padding: 0px 34px;
    align-items: center;
    width: 1000px;
}

.bullet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 0px;
    gap: 24px;
}

.left-wing, .right-wing {
    width: 90.5px;
    height: 1px;  
    background: #E6E9F2;
}

.bullet-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.circle-right-wing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.bullet-circle {
    width: 50px;
    height: 50px;
    background: #ECF2FF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-white {
    background: white;
}

.bullet-circle-inner {
    width: 6px;
    height: 6px;
    background: #0066FF;
    border-radius: 3px;
}
.bullet-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: black;
}

.banner-play-section {
    padding: 0px 30px 80px;
}

.banner-frame {
    position: relative;
}

.play-button {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 447px;
    top: 172px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 4px;
    gap: 10px;
}

.fa-play::before {
    width: 15px;
    height: 20px;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;  
    color: black; 
}

.banner-2 img {
    height: 25.875rem;
    width: 60.25rem;
}

.hubspot-section {
    display: flex;
    gap: 60px;
    height: 560px;
}

.hubspot-left {
    width: 28.25rem;
    height: 35rem;
}

.downloads-container {
    position: relative;
    width: 100%;
}

.download-1 img {
    position: absolute;
    width: 12.5rem;
    height: 23.08rem;
    left: 28px;
    top: 111px;
}

.download-2 img {
    position: absolute;
    width: 371px;
    height: 425px;
    left: 81px;
    top: 0px;
}

.hubspot-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;
    gap: 50px;
    width: 512px;
    height: 560px;
}

.hubspot-right-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 482px;
    height: 191.18px;
}

.hubspot-right-description-logo img {
    width: 100px;
    height: 33.18px;
}

.hubspot-right-description-text {
    width: 482px;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: black;
}

.hubspot-right-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px 100px 0px;
    gap: 4px;
}

.person-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.person-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.brands-section {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 80px;
    gap: 45px;
    height: 208px;
}

.brands-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #5F6368;
}

.brands-list {
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
}

.brands-list img {
    height: 2.5rem;
}

.pricing-section {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 120px;
    gap: 60px;
}

.pricing-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.pricing-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: black;
}

.pricing-title-text {
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.plans-features-list {
    display: flex;
    padding: 0px 44px;
    gap: 30px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 50px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.plan-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.plan-price {
    display: flex;
    gap: 7px;
    align-items: flex-end;
}

.plan-price-text {
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: black;
}

.plan-period {
    display: flex;
    padding: 0px 0px 9px;
    gap: 7px;
    font-weight: 510;
    font-size: 20px;
    line-height: 24px;
}

.plan-divider {
    padding: 1px;
    height: 1px;
    background: #8D8D8D;
}

.plan-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.plan-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.plan-footer-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.plan-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-1, .row-2 {
    display: flex;
    gap: 10px;
}

.plan-feature-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 263px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.plan-item-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plan-item-content img {
    width: 50px;
    height: 50px;
}

.plan-item-content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.plan-item-content-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.cancel-with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hire-us-section {
    display: flex;
    justify-content: center;
    background: #20335B;
    max-width: 95%;
    margin: auto;
}

.hire-us-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding: 30px;
}

.hire-us-left-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hire-us-title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
}

.hire-us-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hire-us-title-text {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
}

.hire-us-title-description {
    font-weight: 500;
    line-height: 24px;
    width: 180px;
}

.hire-us-title-divider {
    width: 180px;
    height: 1px;
    background: #FFFFFF;
}

.hire-us-title-phrase {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 363px;
    color: #FFFFFF;
}

.hire-us-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hire-us-person-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0px 0px;
    gap: 4px;
}

.hire-us-person-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.hire-us-person-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.hire-us-person-images {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hire-us-person-images img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.hire-us-person-images .image-expand {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.hire-us-right {
    padding: 30px;
}

.hire-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 37px;
    background: #FFFFFF;
    border-radius: 10px;
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-input, textarea {
    padding: 10px;
    border: 1px solid #E6E8F2;
    border-radius: 5px;
}

.form-input {
    flex-grow: 1;
}

select.form-input {
    color: black;
    font-weight: 510;
}

textarea {
    resize: none;
    height: 150px;
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    font-family: inherit;
}

.privacy {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 392px;
}

.view-privacy-policy-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 80px 30px 40px;
    gap: 40px;
    align-items: center;
}

.footer-section-1 {
    display: flex;
    justify-content: space-between;
    width: 966px;
}

.footer-section-1-sub-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo img {
    width: 100px;
    height: 29.76px;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-address, .footer-phone {
    display: flex;
    align-items: flex-start;
    gap: 9px;
}

.footer-address-text {
    font-weight: 510;
    font-size: 14px;
    line-height: 17px;
}

.footer-phone-text {
    font-weight: 510;
    font-size: 14px;
    line-height: 17px;
    color: #2576FF;
}

.footer-section-1-sub-2 {
    display: flex;
    gap: 20px;
} 

.footer-sub-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 143px;
}

.career {
    display: flex;
    align-items: center;
    gap: 9px;
}

.badge {
    padding: 2px 4px;
    background: #2576FF;
    border-radius: 3px; 
    font-weight: 510;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
}

.sub-title {
    font-weight: 860;
    font-size: 18px;
    line-height: 21px;
    color: black;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.sub-help, .sub-account {
    display: flex;
    gap: 9px;
    align-items: center;
}

.footer-divider {
    width: 60.375rem;
    height: 1px;
    background: #E6E9F2;
}

.footer-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60.375rem;
}

.terms {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.terms-text {
    color: #2576FF;
}

.social-us {
    display: flex;
    gap: 20px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.social-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ECF2FF;
    border-radius: 5px;
}

.united-states {
    display: flex;
    padding: 0px 13px;
    gap: 20px;
    background: #ECF2FF;
    border-radius: 5px;
    padding: 0px 13px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.us-text, .fa-angle-down::before {
    color: black;
}

.fa-angle-down::before {
    font-size: smaller;
}

.all-rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.all-rights-header {
    font-weight: 510;
    font-size: 14px;
    line-height: 17px;
}

.all-rights-text {
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 700px;
}

.benefit-item:hover {
    transform: translateY(-3px) ;
    cursor: pointer;
}

.fa-angle-up::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100000000px;
    background-color: #F8FAFE;
    opacity: .85;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    font-size: smaller;
}

.fa-greater-than::before {
    font-size: x-small;
}

.fa-location-arrow::before, .fa-phone::before {
    font-size: small;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 100;
    background-color: white;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    animation: from-top .5s ease-in-out;
}

@keyframes from-top {
    0% { 
        transform: translateY(-50px);
        opacity: 0;
    } 
}

.non-sticky {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%; 
    z-index: 100;
    background-color: white;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    animation: hide-away 1s ease-in-out;
}

@keyframes hide-away {
    0% {
        transform: translateY(100px);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
        display: none;
    }
}

.animate-slide-up {
    animation: slide-up .5s ease-in-out;
}

@keyframes slide-up {
    0% { 
        transform: translateY(50px);
        opacity: 0;
    }
}

.animate-slide-up-1 {
    animation: slide-up-1 .5s ease-in-out .05s;
}

@keyframes slide-up-1 {
    0% { 
        transform: translateY(70px);
        opacity: 0;
    }
}

.animate-slide-up-2 {
    animation: slide-up-1 .5s ease-in-out .1s;
}

@keyframes slide-up-2 {
    0% { 
        transform: translateY(80px);
        opacity: 0;
    }
}

.header-modal {
    display: none;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    background-color: white;
    width: 100%;  
    height: 100%;   
}

.visible {
    display: inline-block;
}

.modal-logo-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
}

.modal-nav-button {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.remove-scroll {
    overflow-y: hidden;
}

.fa-xmark {
    cursor: pointer;
}